body{
    background-color: blueviolet;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
.container{
    padding: 20px;
    background-color: chartreuse;
    border-radius: 16px;
    text-align: center;
    width: 50%;
}
h1, h2{
    color: orangered; 
}
input, button{
    padding: 10px;
    margin: 10px;
    width: 95%;
}
button{
    background-color: deeppink;
    color: gold;
    
}
button :hover{
    background-color: aliceblue;
    color: aliceblue;
}